{{template "base" .}}
{{define "title"}} Snipper # {{.Snippet.ID}} {{end}}

{{define "body"}}
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metada'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metada'>
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{.Expires}}</time>
        </div>
    </div>
    {{end}}
{{end}}